################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Galaxies/v17
/Galaxies/bin/Debug/netcoreapp3.1
/Galaxies/obj/Debug/netcoreapp3.1
/Galaxies/obj
